* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Livvic", sans-serif;
  color: black;
}

body {
  width: 80%;
  margin: auto;
}

/*---------------------------Inicio Header----------------------------*/
.top {
  display: flex;
  flex-flow: row wrap;
  padding-top: 70px;
  height: 120px;
}

.top_logo {
  width: 30%;
}

.top_logo img {
  align-self: flex-start;
  width: 198px;
  max-width: 100%;
}

nav {
  width: 70%;
  align-content: flex-end;
}

.menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}

.menu_item {
  list-style: none;
  padding: 0 20px;
}

.menu_item a {
  font-size: 18px;
  font-weight: 400;
}

.link{
  text-decoration: none;
}

.menu_item img {
  width: 40px;
}

/*---------------------------Inicio Banner e Introducción----------------------------*/
.textBlock {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-bottom: 50px;
}

.mainText {
  width: 50%;
}

.mainText_title {
  font-size: 40px;
  max-width: 100%;
}

.mainText_subtitle {
  width: 90%;
  font-size: 20px;
  font-weight: 300;
  padding: 40px 0;
}

.mainImage {
  width: 50%;
}

.mainImage img {
  display: block;
  margin: auto;
  max-width: 100%;
}

.scroll {
  text-align: center;
  font-size: 20px;
  padding: 30px;
}

/*---------------------------Inicio Secciones----------------------------*/
.description {
  display: flex;
  flex-flow: row wrap;
}

.component {
  width: 30%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
}

.component_image {
  max-width: 100%;
}

.component_title {
  font-size: 30px;
  padding: 15px 0;
}

.component_text {
  width: 90%;
  font-weight: 300;
  font-size: 20px;
}

/*---------------------------Intento de Media Query----------------------------*/
@media screen and (max-width: 800px) {
  .textBlock {
    flex-flow: column wrap;
    align-content: center;
  }

  .mainText {
    width: 100%;
  }

  .mainText_subtitle {
    width: 100%;
  }

  .mainImage {
    width: 100%;
  }

  .description {
    display: flex;
    align-content: center;
    flex-flow: column wrap;
  }

  .component {
    width: 100%;
  }
}
